* {
  box-sizing: border-box;
}
body{
  
overflow-x: hidden; /* Hide horizontal scrollbar */
}

.nav-link, .nav-item {
  max-width: 100% ;
  width: fit-content;
}
ul, .navbar-brand { 
  margin-left: 1vw ;
}
.navbar {
  background-color: #f1f1f1;
  min-width:fit-content;
  z-index: 3;
}
.text-muted {
  font-weight:lighter;
}
.red {
  color: crimson;
}
pre {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
  max-width: 90%;
  margin: 0 auto;
}
hr {
  margin: 3 auto !important;
}

main {
  position: relative;
}

/* nascondi hamburger button */
#navbar a.icon {
  display: none;
}


@media print {
  #navbar {
    display: none;
  }
  .col-10 {
    width: 100% !important;
  }
  pre {
    width: 100%;
    white-space: pre-wrap;
  }
}
@media only screen and (min-width: 800px) {
  #mylinks {
    margin-top: 2rem;
  }
  .navbar-brand {
    position: fixed;
  }
}
@media only screen and (max-width: 800px) {
  
.space {
  height: 5rem;
}
  /* Style the navigation menu */
  #navbar {
      overflow: hidden;
      background-color: #333;
      position: relative;
  }
  
/* Hide the links inside the navigation menu (except for logo/home) */
  #navbar #mylinks {
    display: none;
  }

  /* Style navigation menu links */
#navbar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
/* Style the hamburger menu */
#navbar a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
/* Add a grey background color on mouse-over */
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}
main header {
  margin-top: 2rem;
}
}