@font-face {
    font-family: pixelmix;
    src: url(./assets/pixelmix/pixelmix.ttf);
    font-weight: normal;
}

@keyframes smile {
    0% {
        background-image: url(icon.png);
    }

    25% {
        background-image: url(icon2.png);
    }

    50% {
        background-image: url(icon.png);
    }

    100% {
        background-image: url(icon2.png);
    }
}

@media screen and (max-width: 620px) {

    #welcome-section {
        height: fit-content !important;
    }

    #welcome-section > .mini-me,
    #welcome-section > .img-box {
        display: none;
    }

    #mobile-me .mini-me {
        position: relative;
        display: block;
        margin: 0 auto;
        z-index: 3;
        width: 30vw;
        height: 30vw;
        background-image: url(icon.png);
        background-repeat: no-repeat;
        background-size: cover;
        animation: smile 3s step-end infinite;
    }

}

@media screen and (max-width: 400px) {

    #mobile-me .mini-me {
        width: 50vw;
        height: 50vw;
    }

    #nav-link {
        font-size: 1rem;
        padding: 0 3px;
    }
}