* {
  box-sizing: border-box;
}

:root {
  --sezioni: #FEFFFC;
  --welcome-font-color: #a3d4ff;
  --background-color: teal;
}

body {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif !important;
  background-color: var(--background-color) !important;
  scroll-behavior: smooth;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  background-color: var(--background-color);
  z-index: 10;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'pixelmix', sans-serif;
}
#navbar ul { 
  display: inline;
}
.nav-link {
  float: right;
  color: var(--sezioni) !important;
}

#mobile-me .mini-me,
#mobile-me .img-box {
  display: none;
}

#contacts {
  height: 15vh;
  background-color: #004040;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contacts i {
  color: var(--sezioni);
  font-size: 30px;
  margin: 0 10px;
  padding-top: 30px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--welcome-font-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--welcome-font-color);
}