* {
    box-sizing: border-box;
  }

:root{
    --sezioni: #FEFFFC;
    --welcome-font-color: #a3d4ff;
    --background-color: teal;
}

body {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif!important;
    background-color: var(--background-color) !important;
    scroll-behavior: smooth;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    display: flex;
    justify-content: flex-end;
    background-color: var(--background-color);
    z-index: 10; 
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'pixelmix', sans-serif;
}

#projects .btn {
  font-family: 'pixelmix', sans-serif;
}

.nav-link {
    color: var(--sezioni) !important;
}

#welcome-section {
  height: 100vh;
}

#welcome-section h1 {
  color: var(--welcome-font-color) !important; 
  font-family: 'pixelmix', sans-serif;
  margin-top: 32vh;
  margin-left: 5%;
  font-size: 15vh;
}

#welcome-section h3 {
  margin-left: 6%;
}

#welcome-section .mini-me {
  position: absolute;
  top: 25%;
  right: 10%;
  width: 20rem;
  height: 20rem;
  z-index: 3;
  background-image: url(icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  animation: smile 3s step-end infinite;
}

#welcome-section .img-box {
  background-color: var(--sezioni);
  position: absolute;
  top: 28%;
  right: 10%;
  width: 20rem;
  height: 20rem;
  transform: rotate(45deg);
  z-index: 2;
}

#mobile-me .mini-me, #mobile-me .img-box {
  display: none;
}

.project-tile { 
  height: 15vw !important;
  overflow: hidden !important;
  margin: 1vw auto;
  max-height: 190px;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--welcome-font-color); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--welcome-font-color); 
  }

  @font-face {
    font-family: pixelmix;
    src: url(./assets/pixelmix/pixelmix.ttf);
    font-weight: normal;
  }


  @keyframes smile {
    0%{
        background-image: url(icon.png);
    }
    25%{
        background-image: url(icon2.png);
    }
    50%{
        background-image: url(icon.png);
    }
    100%{
        background-image: url(icon2.png);
    }
}

@media screen and (max-width: 600px) {
  #welcome-section .mini-me, #welcome-section .img-box {
    display: none;
  }
  #mobile-me .mini-me {
    position: relative;
    display:block;
    bottom: 5.3rem;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    z-index: 3;
    background-image: url(icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: smile 3s step-end infinite;
  }
  
  #mobile-me .img-box {
    background-color: var(--sezioni);
    position: relative;
    display: block;
    bottom: 0;
    width: 5rem;
    height: 5rem;
    transform: rotate(45deg);
    z-index: 2;
    margin: 0 auto;
  }
}